<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742698208531-nlqkqo0fi72c20boqk1ftp2ikddqcuae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742698208531-nlqkqo0fi72c20boqk1ftp2ikddqcuae</string>
	<key>API_KEY</key>
	<string>AIzaSyBOph_94gycQCnbmi4YDoQsAi31Sp2Z3z0</string>
	<key>GCM_SENDER_ID</key>
	<string>742698208531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.morphosis</string>
	<key>PROJECT_ID</key>
	<string>fir-abe24</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-abe24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742698208531:ios:6863c23250216b1cd7dee6</string>
</dict>
</plist>